body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    
}

 /* For the first section */
 /* For the first section */
h1{
    font-size: 50px;
    font-weight: 700;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.top-section{
    background-image: url(images/top-banner.png) ;
    background-repeat: no-repeat;
    
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width-img{
    width: 100%;
}
.line-hilight{
    color: orange;
    
}
.btn{
    text-decoration: none;
    color: white;
    font-weight: 600;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 5px;

}

/* Second section */
/* Second section */

.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.header-exp{
    text-align: center;
}

.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

#full-stack{
    box-shadow: 5px 7px 40px rgb(187, 187, 187);
    height: 80%;
    border-left: 7px solid tomato ;
    background-color: white;
}

#baby-web{
    box-shadow: 5px 7px 40px rgb(187, 187, 187);
    height: 80%;
    border-left: 7px solid blue;
    background-color: white;

}